/* SingleProduct.scss */
.single-product-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 280px;
    border-radius: 8px;
    z-index: 9999;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    align-items: center;
    justify-content: center;

    .close-btn {
        float: right;
        right: 0;
        margin-top: -20px;
        margin-right: -10px;

        &:hover {
            background-color: transparent;
        }
    }

    .information {
        font-size: 15px;
        display: grid;
        text-align: center;
        gap: 10px;
        margin: 8px;
        margin-top: 30px;

        .name {
            font-weight: bold;
            text-transform: uppercase;
        }

        .price {
            font-weight: bold;
        }

        .desc {
            font-size: 13px;
        }

        .in-stock {
            font-size: 13px;

            .stock {
                color: #4dc031;
            }

            .out-of-stock {
                color: #f52424;
            }
        }

        .add-to-cart {
            margin-top: 20px;
            .custom-btn {
                &:hover {
                    background-color: #000;
                }
            }
        }
    }
}

.single-product-main-content {
    height: 100%;
}