.custom-btn {
    padding: 8px !important;
    border: none !important;
    outline: none !important;
    height: 40px;
    border-radius: 50px !important;
    color: #fff !important;
    cursor: pointer;
    background-color: #000000 !important;
    transition: all ease 0.3s;
}