.header {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-bottom: 1px solid #000000 !important;
    width: 100% !important;
    font-weight: bold;
    .active {
        color: #8e2de2;
    }
    .MuiButton-root {
        color: #000000;
        &:hover {
            color: #8e2de2;
            background-color: transparent;
        }
    }
}